.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: circulo 2s linear infinite; /* Safari */
  animation: circulo 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
}
  @keyframes circulo {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}